/*Universal Setup */
:root {
    --bg1: #B9A44C;
    --bg2: #1C531A;
    --accent1: #566E3D;
    --accent2:  #C1C172;
    --accent3: #65540C;
    --main-text: white;
    --alt-text: black;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0px;
    overflow-x: hidden; 
    background-color: var(--main-bg);
}

/* Nav bar styles */

header {
    position: sticky;
    top: 0;
}

nav {
    background-color: var(--accent1);
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

nav img {
    height: 5rem;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#nav-list {
    display: flex;
    align-items: end;
    justify-content: end;
    width: 50%;
}

#nav-list ul {
    width: 100%;
    justify-content: space-around;
}

/*Hero image */

#hero img {
    width: 100%;
}